.portfolio {
    width: 100%;
    min-height: 425px;
    background-color: rgba(32, 32, 32, 1);
    padding: 0px 70px 0 70px;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .portfolio {
        min-height: 390px;
        padding: 0px 50px 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio {
        min-height: 294px;
        padding: 0px 14px;
    }
}

.portfolio__title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    color: rgba(139, 139, 139, 1);
}

@media screen and (max-width: 767px) {
    .portfolio__title {
        font-size: 14px;
        line-height: 1.4;
    }
}

.portfolio__links {
    display: flex;
    flex-direction: column;
    margin: 30px 0 125px;
}

@media screen and (max-width: 1024px) {
    .portfolio__links {
        margin: 30px 0 90px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__links {
        margin: 40px 0 70px;
    }
}

.portfolio__link {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    max-width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    transition: all .3s linear;
}

@media screen and (max-width: 1024px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 1.8;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__link {
        font-size: 18px;
        line-height: 1.5;
    }
}

.portfolio__link:hover {
    transition: all .3s linear;
    opacity: .6;
}