.techs {
    width: 100%;
    min-height: 608px;
    background-color: rgba(39, 39, 39, 1);
    padding: 100px 70px 0 70px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .techs {
        min-height: 567px;
        padding: 90px 50px 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .techs {
        min-height: 651px;
        padding: 70px 18px 0 18px;
    }
}

.techs__title {
    font-size: 50px;
    line-height: 1.16;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 90px 0 0 0;
}

@media screen and (max-width: 1024px) {
    .techs__title {
        padding-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    .techs__title {
        font-size: 30px;
        line-height: 1.2;
        padding-top: 60px;
    }
}

.techs__subtitle {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    max-width: 460px;
    margin: 0 auto;
    padding: 26px 0 0 0;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .techs__subtitle {
        font-size: 12px;
        line-height: 1.5;
        padding-top: 22px;
    }
}

@media screen and (max-width: 767px) {
    .techs__subtitle {
        font-size: 11px;
        line-height: 1.4;
        padding-top: 24px;
    }
}

.techs__table {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    column-gap: 10px;
    padding-top: 100px;
    list-style: none;
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .techs__table {
        grid-template-columns: repeat(7, 84px);
        padding: 83px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .techs__table {
        grid-template-columns: repeat(2, 84px);
        padding: 50px 0 0;
        row-gap: 10px;
    }
}

.table__text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;    
    padding: 20px 0 20px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .table__text {
        font-size: 12px;
    }
}

.table__cell {
    background-color: rgba(48, 48, 48, 1);
    border-radius: 10px;
}