.header {
    background-color: rgba(7, 48, 66, 1);
    margin: 0;
    padding: 0 70px 0;
}

.header__disable {
    display: none;
}

.header__container {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 38px;
    padding: 18px 0 18px;
}

.header__registration{
    
}