.form__block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__lable {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(139, 139, 139, 1);
    margin: 0;
    padding: 0 0 5px 0;
}

.form__input {
    background-color: rgba(32, 32, 32, 1);
    border: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 24px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(66, 66, 66, 1);  
}

.form__input:focus {
    outline: none;
}