.promo {
    width: 100%;
    min-height: 524px;
    background-color: rgba(7, 48, 66, 1);
    padding: 75px 70px 0 70px;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .promo {
        padding: 140px 44px 0 44px;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 767px) {
    .promo {
        padding: 70px 10px 0 10px;
    }
}

.promo__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.16;
    color: rgba(255, 255, 255, 1);
    max-width: 640px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .promo__title {
        max-width: 680px;
        font-size: 40px;
        line-height: 1.25;
        margin: 0 auto;
        padding-top: 48px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .promo__title {
        max-width: 300px;
        font-size: 30px;
        line-height: 1.3;
        padding-top: 44px;
    }
}

.promo__subtitle {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    max-width: 310px;
    margin: 36px 0 0 0;
    opacity: 0.5;
}

@media screen and (max-width: 1024px) {
    .promo__subtitle {
        max-width: 260px;
        margin: 0 auto;
        padding-top: 22px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .promo__subtitle {
        padding-top: 24px;
    }
}

.promo__button {
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(255, 255, 255, 1);
    border: 1px solid;
    width: 129px;
    height: 36px;
    border-radius: 3px;
    margin: 146px 0 75px 0;

    transition: all .3s linear;
    cursor: pointer;
    opacity: .6;
}

.promo__button:hover {
    transition: all .3s linear;
    opacity: .8;
}

.promo__link {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .promo__button {
        display: block;
        margin: 92px auto 76px;
    }
}

@media screen and (max-width: 767px) {
    .promo__button {
        margin-top: 80px;
        margin-bottom: 30px;
    }
}

.promo__logo {
    max-width: 310px;
    position: absolute;
    top: 75px;
    right: 70px;
}

@media screen and (max-width: 1024px) {
    .promo__logo {
        position: initial;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .promo__logo {
        max-width: 210px;
    }
}