@import url(./vendor/normalize.css);
@import url(./vendor/font-face.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Promo/Promo.css);
@import url(./components/Main/AboutProject/AboutProject.css);
@import url(./components/Main/Techs/Techs.css);
@import url(./components/Main/AboutMe/AboutMe.css);
@import url(./components/Main/Portfolio/Portfolio.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Movies/Movies.css);
@import url(./components/Movies/FilterCheckbox/FilterCheckbox.css);
@import url(./components/Movies/MoviesCard/MoviesCard.css);
@import url(./components/Movies/MoviesCardList/MoviesCardList.css);
@import url(./components/Movies/Preloader/Preloader.css);
@import url(./components/Movies/SearchForm/SearchForm.css);
@import url(./components/SavedMovies/SavedMovies.css);
@import url(./components/NotFound/NotFound.css);
@import url(./components/Profile/Profile.css);